:root {
  --color-backgroundColor: #001524;
  --color-turquoise: #185660;
  --color-orange: #FF7D00;
  --color-light: #FFECD1;
  --color-white: #ffff;
  --color-red: #D41111;
}

:root {
  --color-backgroundColor: #001524;
  --color-turquoise: #185660;
  --color-orange: #FF7D00;
  --color-light: #FFECD1;
  --color-white: #ffff;
  --color-red: #D41111;
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  margin: 0;
  background-color: var(--color-backgroundColor);
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

:root {
  --color-backgroundColor: #001524;
  --color-turquoise: #185660;
  --color-orange: #FF7D00;
  --color-light: #FFECD1;
  --color-white: #ffff;
  --color-red: #D41111;
}

.flag {
  position: relative;
}
.flag__white {
  width: 30px;
  height: 3000px;
  background-color: var(--color-white);
  position: absolute;
  z-index: 2;
  top: -100px;
}

.flag2 {
  position: relative;
}
.flag2__red {
  width: 30px;
  height: 3000px;
  background-color: var(--color-red);
  position: absolute;
  z-index: 2;
  top: -100px;
  left: 30px;
}

.flagSvg {
  position: relative;
}
.flagSvg__element {
  width: auto;
  position: fixed;
  left: 9px;
  top: 25px;
  z-index: 3;
}

.formflag {
  position: relative;
}
.formflag__white {
  width: 30px;
  height: 1310px;
  background-color: var(--color-white);
  position: absolute;
  z-index: 2;
  top: -100px;
}

.formflag2 {
  position: relative;
}
.formflag2__red {
  width: 30px;
  height: 1310px;
  background-color: var(--color-red);
  position: absolute;
  z-index: 2;
  top: -100px;
  left: 30px;
}

.formflagSvg {
  position: relative;
}
.formflagSvg__element {
  width: auto;
  position: fixed;
  left: 9px;
  top: 25px;
  z-index: 3;
}

:root {
  --color-backgroundColor: #001524;
  --color-turquoise: #185660;
  --color-orange: #FF7D00;
  --color-light: #FFECD1;
  --color-white: #ffff;
  --color-red: #D41111;
}

.header {
  width: auto;
  height: 100px;
  background-color: var(--color-backgroundColor);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header__nav {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
}

.header__nav-div {
  display: flex;
  flex-wrap: wrap;
}

.header__nav-element {
  padding: 15px;
  font-size: 14px;
  color: var(--color-light);
}

.header__navelement-tekst {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--color-light);
}

.header__navelement-tekst:hover {
  color: var(--color-orange);
}

.header__contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__contact-element {
  padding-right: 15px;
  align-items: center;
}

.header__navelement17rdpz {
  font-size: 18px;
  font-weight: 900;
  margin-left: 80px;
}

.header__contact-style {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 14px;
  color: var(--color-light);
  line-height: 1.14px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  fill: currentColor;
}
.header__contact-style:hover, .header__contact-style:focus {
  color: var(--color-orange);
}

.burger {
  margin-left: 55%;
  margin-bottom: 20px;
  display: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.line {
  width: 45px;
  height: 5px;
  background-color: var(--color-light);
  margin: 0.5em;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 900px) {
  .header__contact {
    display: block;
  }
  .header__contact-element {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
@media only screen and (max-width: 720px) {
  .burger {
    display: block;
    transition: 0.3s ease-in-out;
  }
  .burger.active .line:first-child {
    transform: translateY(-300px);
  }
  .burger.active .line:nth-child(2) {
    transform: rotate(-405deg) translateY(9px);
  }
  .burger.active .line:nth-child(3) {
    transform: rotate(-320deg) translateY(-9px);
  }
  .header__nav {
    position: absolute;
    right: 0;
    top: 100px;
    background-color: getColor("backgroundcolor");
    height: 80vh;
    flex-direction: column;
    text-align: center;
    transform: translate(100%);
    transition: 0.3s ease-in-out;
  }
  .header__nav.active {
    transform: translate(0%);
  }
  .header__contact-style {
    color: whitesmoke;
    font-size: 2.5rem;
    letter-spacing: 2px;
  }
}
:root {
  --color-backgroundColor: #001524;
  --color-turquoise: #185660;
  --color-orange: #FF7D00;
  --color-light: #FFECD1;
  --color-white: #ffff;
  --color-red: #D41111;
}

.section2 {
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  width: auto;
  height: 847px;
  background-image: url("../images/mainDesktop_Easy-Resize.com.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-color: getColor(garkgray);
}

.ul-section2 {
  justify-content: center;
  align-items: center;
  width: auto;
  height: 847px;
  margin-top: 205px;
}

.h1 {
  display: flex;
  margin: auto;
  color: var(--color-light);
  justify-content: center;
  text-align: center;
  font-size: 44px;
  font-family: stencil-std, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: -3px 5px 8px rgb(109, 109, 109);
}

.report-back {
  cursor: pointer;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  width: 220px;
  height: 60px;
  background-color: var(--color-orange);
  color: var(--color-backgroundColor);
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  box-shadow: -18px 16px 26px -16px rgb(66, 68, 90);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.report-back:hover {
  background-color: var(--color-light);
}

.section3 {
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  width: auto;
  height: 847px;
  background-repeat: no-repeat;
  background-color: getColor(garkgray);
}

.h2 {
  justify-content: center;
}

.svg-main {
  margin: auto;
  display: flex;
  justify-content: center;
}

:root {
  --color-backgroundColor: #001524;
  --color-turquoise: #185660;
  --color-orange: #FF7D00;
  --color-light: #FFECD1;
  --color-white: #ffff;
  --color-red: #D41111;
}

.test1234 {
  position: relative;
  z-index: 2;
}

.main {
  background-color: var(--color-backgroundColor);
  margin: auto;
}
.main__form {
  background-color: var(--color-backgroundColor);
  margin: auto;
}

.howtojoin {
  margin: auto;
  display: flex;
  width: auto;
  height: 310px;
  background-image: url("../images/toform.png");
  object-fit: contain;
  background-repeat: no-repeat;
  background-color: getColor(garkgray);
}

.application {
  position: relative;
  margin: auto;
  width: auto;
  height: 550px;
  display: flex;
  flex-wrap: wrap;
}
.application__h2 {
  color: var(--color-light);
  margin-top: 80px;
  font-size: 36px;
  margin-bottom: 30px;
}

.application__ul-accept {
  width: 421px;
  margin-left: 14%;
}

.application__text {
  color: var(--color-light);
}

.application__ul-form {
  display: block;
}

.application__h2-form {
  color: var(--color-light);
  margin-top: 80px;
  font-size: 36px;
  margin-bottom: 30px;
}

.application__form {
  display: block;
}

.application__input {
  border: none;
  width: 424px;
  height: 40px;
  margin-bottom: 25px;
  background-color: var(--color-backgroundColor);
  color: var(--color-light);
}

.application__input-why {
  border: none;
  padding: 0;
  width: 424px;
  height: 80px;
  margin-bottom: 25px;
  background-color: var(--color-backgroundColor);
  color: var(--color-light);
}

.submit__button {
  cursor: pointer;
  margin-left: 20%;
  margin-bottom: 70px;
  width: 120px;
  height: 40px;
  background-color: var(--color-orange);
  color: var(--color-backgroundColor);
  border: none;
  border-radius: 5px;
  box-shadow: -18px 16px 26px -16px rgb(66, 68, 90);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submit__button:hover {
  background-color: var(--color-light);
}

:root {
  --color-backgroundColor: #001524;
  --color-turquoise: #185660;
  --color-orange: #FF7D00;
  --color-light: #FFECD1;
  --color-white: #ffff;
  --color-red: #D41111;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: 250px;
  background-color: getColor("darkgray");
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer__svg {
  display: block;
  margin-left: 15%;
  margin-top: 75px;
}

.footer__svg-text {
  margin-top: 5px;
  font-weight: 900;
  font-size: 14px;
  color: getColor("whitee");
}

.fotter__list-element {
  display: flex;
  margin-top: 75px;
  margin-left: 5%;
}

.box {
  position: relative;
  z-index: 1;
  margin: 0px;
  width: 0px;
  height: 0px;
}
.box__decoration {
  position: absolute;
  width: 1300px;
  height: 500px;
  background-color: var(--color-turquoise);
  z-index: 1;
  top: 10px;
  left: 300px;
}/*# sourceMappingURL=index.css.map */