body {
    margin: 0;
    background-color: #959595;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 15px;
    flex-direction: column;
  }



.header {
    width: auto;
    height: 100px;
    background: #373737;
    display: flex;
    align-items: center;
    justify-content: space-around;


}


 .header__nav {
    display: flex;
    flex-wrap: wrap;
}
.header__contact {
    display: flex;
    flex-wrap: wrap;
} 

.header__nav-element {
    padding: 15px;
} 

.header__contact-element {
    padding: 15px;
}

.RDPZ {
    font-weight: 900;
}

.relative {
    position: relative;
}

.div-test {
    width: 30px;
    height: 3000px;
    background-color: white;
    position: absolute;
    z-index: 2;
    top: -100px;
}

.relative2 {
    position: relative;
}

.div-test2 {
    width: 30px;
    height: 3000px;
    background-color: red;
    position: absolute;
    z-index: 2;
    top: -100px;
    left: 30px;
}

.relative3 {
    position: relative;
}

.div-test3 {
    width: auto;
    position: fixed;
    left: 9px;
    top: 25px;
    z-index: 3;
}



.section2 {
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    width: auto;
    height: 847px;
    background-image: url("./images/zdjęciewtle2.png");
    object-fit: cover;
    background-repeat: no-repeat;
    background-color: #373737;
}

.ul-section2 {
    justify-content: center;
    align-items: center;
    width: auto;
    height: 847px;
    margin-top: 205px;
}

.h1 {
    display: flex;
    margin: auto;
    color: #fff;
    justify-content: center;
    text-align: center;
    font-size: 44px;
    font-family: stencil-std, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.report-back {
    cursor: pointer;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    width: 220px;
    height: 60px;
    background-color: #D8601D;
    color: #fff;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: -18px 16px 26px -16px rgba(66, 68, 90, 1);
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
}

.report-back:hover{
    background-color: #F4C80F;
}



.section3 {
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    width: auto;
    height: 847px;
    background-repeat: no-repeat;
    background-color: #373737;
}

.h2 { 
    justify-content: center;
}

.svg-main {
    margin: auto;
    display: flex;
    justify-content: center;
}