@import "./variations/color";




.main {
    background-color: var(--color-backgroundColor);
    margin: auto;

    &__form {
        background-color: var(--color-backgroundColor);
        margin: auto;
    }
}



.howtojoin {
    margin: auto;
    display: flex;
    width: auto;
    height: 310px;
    background-image: url("../images/toform.png");
    object-fit: contain;
    background-repeat: no-repeat;
    background-color: getColor(garkgray);

}


.application {
    position: relative;
    z-index: 2;
    padding-top: 50px;
    margin: auto;
    width: auto;
    height: 490px;
    display: flex;
    flex-wrap: wrap;

    &__h2 {
        color: var(--color-light);
        margin-top: 80px;
        font-size: 36px;
        margin-bottom: 30px;
    }
}


.application__ul-accept {
    width: 320px;
    margin-left: 20%;
}

.application__text {
    color: var(--color-light);
}


.application__ul-form {
    display: block;
    margin-left: -150px;
}


.application__h2-form {
    color: var(--color-light);
    margin-top: 80px;
    font-size: 36px;
    margin-bottom: 30px;

}

.application__form {
    display: block;
}



.submit__button {
    cursor: pointer;
    margin-left: 305px;
    margin-bottom: 70px;
    width: 120px;
    height: 40px;
    background-color: var(--color-orange);
    color: var(--color-backgroundColor);
    border: none;
    box-shadow: -18px 16px 26px -16px rgba(66, 68, 90, 1);
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submit__button:hover{
    background-color: var(--color-light);
}



.form {
    margin-left: -200px;
}



.application__input {
    border: 2px;
    border-color: transparent;
    width: 424px;
    height: 40px;
    margin-bottom: 25px;
    padding-left: 10px;
    background-color: var(--color-backgroundColor);
    color: var(--color-light);
    transition: outline 0.4s;

    &:focus {
        outline: solid 1px var(--color-orange);
    }

    &:hover {
        outline: solid 1px var(--color-orange);
    }
    
}
