@import "./variations/color";



.header {
    width: auto;
    height: 100px;
    background-color: getColor("darkgray");
    display: flex;
    align-items: center;
    justify-content: space-around;


&__nav {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
}
.nav {
    margin-left: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.header__nav-div {
    display: flex;
    flex-wrap: wrap;
}



.header__nav-element {
    padding: 15px;
} 

.header__contact {
    display: flex;
    flex-wrap: wrap;
} 


.header__contact-element {
    padding: 15px;
}

.header__navelement17rdpz{
    font-size: 18px;
    font-weight: 900;
    margin-left: 20%;
}

.header__navelement-tekst {
    font-size: 14px;
}


.burger {
    display: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.line {
    width: 3em;
    height: .3em;
    background-color: getColor("whitee");
    margin: .7em;
    border-radius: 20px;
    transition: .3s ease-in-out;
}


@media only screen and (max-width: 900px) {

    .burger {
        margin-right: 15%;
        display: block;
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }


    
    .line {
        width: 44px;
        height: 4px;
        background-color: getColor("whitee");
        margin: 9px;
        transition: .3s ease-in-out;
    }
}